<!-- header#header>div.jumbotron.text-white>div.container>div.p-5.text-center>h1.text-uppercase{Angular Öğreniyorum}+h4{Angular,Html5,Css3,TS}+(a.btn.btn-outline-primary)*3 -->
<header id="header">
    <div class="jumbotron text-white">
        <div class="container" style="opacity:0.9">
            <div class="p-5 text-center">
                <h1 class="text-uppercase display-3">Angular Öğreniyorum</h1>
                <h4>Angular,Html5,Css3,TS</h4>
                <a href="" class="btn btn-outline-warning me-1">Bizi Takip Edin</a>
                <a href="" class="btn btn-outline-primary me-1">Linkedin</a>
                <a href="" class="btn btn-outline-danger">Youtube</a>
            </div>
        </div>
    </div>
</header>