<!-- <ng-container *ngIf="!blogCard; then blog; else noBlogCard">
</ng-container> -->

<ng-container *ngIf="blogCard; then blog; else noBlogCard">
</ng-container>

<ng-template #blog>
    <div class="container mt-3 mb-4">
        <div class="row"> <!-- | slice:0:6-->
            <div *ngFor="let temp of blogCard | searchBlogFilter : dataFilterBlogCategory" class="col-sm-12 col-md-3 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{temp.header | uppercase}}</h5>
                        <img class="card-img-top" [src]="temp.picture" alt="Resim yoktur" srcset="">
                        <p class="card-text line-clamp5">{{temp.text | titlecase}}</p>
                        <!-- <span style="float: right; color:cadetblue; display: inline-block;" class="">{{temp.date | date:"fullDate"}}</span> -->

                        <a (click)="detailPage()" [href]="temp.link" class="btn btn-primary">Details</a>
                        <br /><br />
                        <span class="text-muted float-start">{{temp.categoryName | lowercase}}</span>
                        <span class="text-muted float-end">{{temp.date | date:"fullDate"}}</span>
                        <!-- <span class="text-muted float-end">{{temp.date | date:"shortTime"}}</span> -->
                        <!-- <span>{{4000 | currency}}</span> -->
                        <!-- <span>{{4000 | currency:'USD'}}</span> -->
                        <!-- <span>{{4000 | currency:'EUR':'symbol'}}</span> -->
                        <!-- {{3.141519 | number}} -->
                        <!-- {{3.141519 | number:'1.0-2'}} -->
                    </div>
                </div>
            </div>
            <div [hidden]="!(blogCard.length>=6)">6 veya daha fazla Blog var.</div>
        </div>
    </div>
</ng-template>

<ng-template #noBlogCard>
    <form>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" title="blog ara" placeholder="Blog Ara..." class="form-control mb-5" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">Blog Ara</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>