/*
PROJECT_NAME: Blog Page
PROJECT_VERSION: v1.0.0
*/

:root{
    --blog_bg:"black";
    --blog_color:color:"white"
}

*{
    margin:0;
    padding:0 px;
    box-sizing:border-box;
}

html{
    font-size:20px;
}

body{
    background-color: "var(--blog_bg)";
    color: var(--blog_color);
}

p{
    text-align: justify;
}
p:hover{
    text-shadow:0.5px .2px 0.4px rgba(0,0,0,0.8);
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

.line-clamp5{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}